{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}


{% block body %}
<header id="gtco-header" class="gtco-cover "
    style="background-image: url(../static/images/img_bg_1.jpg); height:80px" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
   
</header>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			{% csrf_token %}		

			<form class="login" action="/checkorders", method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="username" placeholder="User Name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" name="password" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>		
				{% csrf_token %}		
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
{%endblock body%}