{% extends 'base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}


{% block body %}
<header id="gtco-header" class="gtco-cover "
    style="background-image: url(../static/images/img_bg_1.jpg); height:80px" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>

</header>
<header  class="gtco-cover">
  <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
    <h2 class="cursive-font primary-color">Order List</h2>
    <p>All The Placed Orders </p>
  </div>
  <div class="containertbl">
        <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Name </div>
            <div class="col col-2">Phone Number </div>
            <div class="col col-3">Email </div>
            <div class="col col-4">Product </div>
            <div class="col col-4">Quantity </div>
            <div class="col col-4">Message </div>
        </li>          
        {% for data in form_data_list %}
      <li class="table-row">
            <div class="col col-1" data-label="Name : ">{{data.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col col-3" data-label="Phone Number : ">{{data.phoneNumber}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col col-2" data-label="Email : ">{{data.email}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col col-4" data-label="Product : ">{{data.product}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col col-4" data-label="Quantity : ">{{data.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col col-4" data-label="Message : ">{{data.message}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </li>
        {% endfor %}

        </ul>
      </div>
</header>
{%endblock body%}
